.title {
  text-align: center;
}

ul {
  list-style: none;
}
ul li {
  margin: 5px;
  display: inline-block;
}
h1 {
  margin-top: 8rem;
  font-size: 4rem;
}
span {
  color: rgb(255, 0, 0);
}
h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.h2-holder {
  background-color: rgb(255, 0, 0);
  padding: 0.2rem;
  margin: 0 12rem 8rem 12rem;
}

button {
  padding: 3rem 1.8rem;
  border: solid;
  border-radius: 6rem;
  border-color: rgb(255, 0, 0);
}
button span {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.output {
  border: solid;
  border-color: rgb(255, 0, 0);
  margin: 0 20rem;
  padding: 0 0 2rem 1rem;
}
h3 {
  text-align: center;
}
